<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>论坛首页</title>
<script src = "jquery-3.5.0.min.js"></script>
<script src="js/bootstrap.min.js" type="application/javascript"></script>
<link rel = "stylesheet" href = "/css/my.css"/>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">



</head>
<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">叶问论坛</span>
      </button>
      <a class="navbar-brand" href="#" >叶问论坛</a>
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- 搜索框 -->
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="搜索话题">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      
     <!-- 登录 退出 个人资料 消息等操作 -->
      <ul class="nav navbar-nav navbar-right">
      <!-- 用户不为 null 则发帖功能显现 -->
      <li th:if="${session.user != null}"> <a href="/publish">发帖</a> </li>
      	<!-- 判断session是否为 null 为null显示登录-->
        <li th:if="${session.user == null}"><a href="https://github.com/login/oauth/authorize?client_id=63d788312d85033b391b&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a></li>   
        <!-- 不为null 显示用户名 -->
        <li class="dropdown"  th:if="${session.user != null}">
        	<!-- th:text="${session.user.name}" 获取用户名 -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
         	 <span th:text="${session.user.name}">用户</span>
          	<span class="caret"></span>
          </a> 
          <ul class="dropdown-menu">
           <li><a href="/personal/questions">我的主贴</a></li>
            <li><a href="/logOut">退出</a></li>
          </ul>
        </li>
      </ul>
          
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid --> 

</nav>


<div class="container-fluid">
			<div class="row">
				<div class="jumbotron">
  					<h1>出错了!</h1>
					<p>页面已经蒸发了!或者出现异常</p>
				  	<p><a class="btn btn-primary btn-lg" href="/" role="button">回到首页</a></p>
			 	</div>
			</div>
</div>


	
</body>
</html>