<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>搜索</title>
<script src = "/jquery-3.5.0.min.js"></script>
<script src = "/js/community.js" type="application/javascript"></script>
<script src = "/js/community2.js" type="application/javascript"></script>
<script src = "/js/community3.js" type="application/javascript"></script>
<script src = "/js/community4.js" type="application/javascript"></script>
<script src = "/js/community5.js" type="application/javascript"></script>
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
<link rel = "stylesheet" href = "/css/my.css"/>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">



</head>
<body>

    <h1> 找不到相关问题 </h1>
    <a class="navbar-brand" href="/" >返回主页</a>
</body>
</html>