<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yeyz.fourm.mapper.StudentMapper">
	
	<select id="queryStu" resultType="org.yeyz.fourm.entity.Student"  >
		select sno,sname,sage from student order by sno
	</select>
	
	<insert id="addStudent" parameterType="org.yeyz.fourm.entity.Student">
		
		insert into student(sno,sname,sage) values(#{sno},#{sname},#{sage})
		
	</insert>
	
		
</mapper> 